head {
  background-color:powderblue;
}

body{

}
p{

}
h1  {
   color: #FFFFFF;
   background-color:powderblue;
}

h2 {
  color:blue;
}
h3 {
  background-color:yellow;">

}
p4 {
  color:red;
}
h4 {
  background-color:green;">
}
p5 {
  background-color:green;
}
footer{
  background-color: yellow;
}
<h5>
  color:red;
.turngreen {
  color: green;
  background-color: yellow;
