body {
  background-color: grey
}
#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 6px solid #3362b8;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

header  {

  grid-column: span 4;
    background-image: linear-gradient(to bottom, #006df2 , #3362b8 );
}


a {
  color: #65c8f0;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: blue;

}

nav {

  grid-column: span 4;
background-color: #3362b8
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav li {
  width: 235px;
  grid-column: span 1;
  margin-left: 2px;
}

nav li a {
  display: block;
  background-color: red;
background-image: linear-gradient(to bottom, #006df2 , #3362b8 );
  padding: 1em;
  color: #65c8f0;
  text-decoration: none;
}
h2{
  color: #3362b8;
  grid-column: span 4;
  border-bottom: 4px solid #3362b8;
  padding: 0 0 10px 0;
  margin-left: 25px;
  margin-right: 25px;
}
p1{
  font-weight:bold;
  padding-left: 25px;
  padding-right: 25px;
  text-align: justify;
 text-justify: inter-word;
  grid-column: span 4;
}
main {

  grid-column: span 3;
padding-left: 25px;
padding-right: 25px;
}

.imgimg {
  border: 5px solid #3362b8;
  margin: 10px;
}
aside {
  grid-column: span 1;
  padding-left: 10px;
  padding-right: 10px;
}
.left{
  grid-column: span 3;
}
.image2 {
  
  grid-column: 3;
  border: 5px solid #3362b8;

}

.image1 {
    border: 5px solid #3362b8;

}
footer {
  background-color: red;
  color:white;
  grid-column: span 4;
  padding-left: 0px;
}
